In [2]:
import pandas as pd

In [15]:
data = pd.read_csv("/Users/avinchure/Desktop/corescore/data/01_raw/WindPower.csv", encoding='latin-1')
data

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,3072695,NaN,NaN,5143.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364410,35.077435
1,3072704,NaN,NaN,5146.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.364197,35.077644
2,3072661,NaN,NaN,5149.0,52161.0,CA,Kern County,6029,251 Wind,1987.0,...,NaN,NaN,0,NaN,2,3,5/8/2018,Digital Globe,-118.363762,35.077908
3,3063269,19-028130,2016-WTE-5934-OE,NaN,NaN,IA,Story County,19169,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,7/23/2017,Digital Globe,-93.632835,41.882477
4,3063321,19-028135,2014-WTE-4087-OE,NaN,NaN,IA,Hardin County,19083,30 MW Iowa DG Portfolio,2017.0,...,12271.85,150.0,0,NaN,3,3,6/20/2017,Digital Globe,-93.367798,42.497940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71661,3053232,36-120351,2015-WTE-5788-OE,NaN,NaN,NY,Wyoming County,36121,unknown Wyoming County,2016.0,...,NaN,NaN,0,NaN,1,3,5/20/2017,Digital Globe,-78.187935,42.740818
71662,3101958,48-171972,2020-WTW-2021-OE,NaN,NaN,TX,Young County,48503,unknown Young County,NaN,...,NaN,NaN,0,NaN,1,1,8/2/2020,Digital Globe,-98.907600,33.149414
71663,3040944,48-024978,2011-WTW-352-OE,41364.0,NaN,TX,Young County,48503,unknown Young County 1,2011.0,...,NaN,NaN,0,NaN,1,3,7/16/2018,Digital Globe,-98.551094,33.093292
71664,3055918,08-072237,2015-WTW-9995-OE,NaN,NaN,CO,Yuma County,8125,unknown Yuma County,2016.0,...,NaN,NaN,0,NaN,1,3,5/17/2017,Digital Globe,-102.716949,40.037548
71665,3055917,08-072245,2015-WTW-9994-OE,NaN,NaN,CO,Yuma County,8125,unknown Yuma County,2016.0,...,NaN,NaN,0,NaN,1,3,5/17/2017,Digital Globe,-102.717171,40.035072

In [22]:
state_filter = data["t_state"] == "MN"
data = data.loc[state_filter]
Wind = data[["t_state", "t_county", "p_name", "p_year", "p_tnum", "p_cap", "t_cap", "retrofit", "t_conf_atr", "t_conf_loc", "xlong", "ylat"]]
Wind

,t_state,t_county,p_name,p_year,p_tnum,p_cap,t_cap,retrofit,t_conf_atr,t_conf_loc,xlong,ylat
165,MN,Meeker County,"Adams Wind Generations, LLC",2011.0,12,19.8,1670.0,0,3,3,-94.711288,44.911694
166,MN,Meeker County,"Adams Wind Generations, LLC",2011.0,12,19.8,1670.0,0,3,3,-94.718994,44.916691
167,MN,Meeker County,"Adams Wind Generations, LLC",2011.0,12,19.8,1670.0,0,3,3,-94.735695,44.912594
168,MN,Meeker County,"Adams Wind Generations, LLC",2011.0,12,19.8,1670.0,0,3,3,-94.710396,44.916992
169,MN,Meeker County,"Adams Wind Generations, LLC",2011.0,12,19.8,1670.0,0,3,3,-94.723190,44.916992
...,...,...,...,...,...,...,...,...,...,...,...,...
70046,MN,Pipestone County,unknown Pipestone County,2018.0,6,NaN,NaN,0,1,1,-96.121277,44.091908
70047,MN,Pipestone County,unknown Pipestone County,2018.0,6,NaN,NaN,0,1,1,-96.153389,44.057907
70075,MN,Renville County,unknown Renville County,2020.0,1,NaN,NaN,0,1,3,-95.006804,44.777364
70368,MN,Sherburne County,unknown Sherburne County,2020.0,1,NaN,NaN,0,1,3,-93.515541,45.269657
71409,MN,Watonwan County,unknown Watonwan County,2013.0,1,NaN,NaN,0,1,3,-94.546901,43.955195

In [14]:
data

,case_id,faa_ors,faa_asn,usgs_pr_id,eia_id,t_state,t_county,t_fips,p_name,p_year,...,t_rsa,t_ttlh,retrofit,retrofit_year,t_conf_atr,t_conf_loc,t_img_date,t_img_srce,xlong,ylat
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN